<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<div class="row">
  <button class="btn-primary btn" (click)="onLoadServer(1)"> Load SERVER </button>
  <button class="btn-default btn" (click)="onLogin()"> Login </button>
  <button class="btn-default btn" (click)="onLogout()"> Logout </button>
</div>


